:root{
	--bg-color: #fbf8cc;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 100%;
}

body {
	background-color: var(--bg-color);
	color: #333;
	line-height: 1.6;
}

input {
	color: #bf0603;
	border: 1px solid #bf0603;
	background-color: transparent;
	outline: none;
	border-radius: 3px;
	width: 100%;
	padding: .9rem 1rem;
}

@media screen and (min-width: 800px) {
	input {
		font-size: 1.2rem;
	}
}

button{
	background-color: #bf0603;
	border: 1px solid #bf0603;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	padding: 0 3rem;
	height: 3rem;
	text-transform: uppercase;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 990px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1rem;
	margin-right: -1rem;
	margin-bottom: 1.5rem;
}

.column {
	padding-right: 1rem;
	padding-left: 1rem;
	width: 100%;
}

@media screen and (min-width: 800px) {
	.container {
		margin: 0 auto;
	}

	.column-3 {
		flex: 3;
	}
}

.title {
	text-transform: uppercase;
	color: #ff206e;
}


span{
	color: #bf0603;
	font-weight: 700;
	font-size: 4rem;
}

label {
	color: #bf0603;
	font-weight: bold;
	text-transform: uppercase;
}

.remain-time {
	text-align: center;
	width: 100%;
}

.buttons {
	text-align: center;
}